/* Meu CSS */
.highlight code, .highlight pre {
    padding: 2px;
    margin: 2px;
    padding-left: 1px;
    margin-left: 0px;
    font-size: 0.8em;
    width: 100%;
    border-radius: 8px;

}

div.highlighter-rouge, figure.highlight {
  background-color: #3f3f3f;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

div.highlighter-rouge:before, figure.highlight:before {
  display: none;
}

article p, p, article ul, section.page__content p, div.archive ul {
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 2em;
}

p.page__date {
  padding: 0;
  margin: 0;
}

.archive__item-excerpt {
  display: none;
}

h2.archive__item-title {
  margin-top: 30px;
}

.author__avatar img {
    border-radius: 0%;
    max-width: 120px;
}

div.archive ul {
    font-size: 1.0em;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1em;
}

#toc ul li {
    line-height: 1.1em;
}

/* links dos posts */

h1.page__title a:link {
  color: #494e52;
  text-decoration: none;
}

/* visited link */
h1.page__title a:visited {
  color: #494e52;
  text-decoration: none;
}

/* mouse over link */
h1.page__title a:hover {
  color: #494e52;
  text-decoration: none;
}

/* selected link */
ah1.page__title :active {
  color: #494e52s;
  text-decoration: none;
}

/* Links da home */

h2.archive__item-title a:link {
  color: #494e52;
  text-decoration: none;
}

/* visited link */
h2.archive__item-title a:visited {
  color: #494e52;
  text-decoration: none;
}

/* mouse over link */
h2.archive__item-title a:hover {
  color: #494e52;
  text-decoration: none;
}

/* selected link */
ah2.archive__item-title :active {
  color: #494e52s;
  text-decoration: none;
}

.page__content h2 {
    padding-bottom: 0.2em;
}

h2,h3 {
    margin: 0.7em 0 0.5em
}
